{% extends 'base.html.twig' %}

{% block body %}
    <section class="min-h-screen  py-20 md:py-28">
        {% include 'book/table.html.twig' %}
    </section>
    {{ knp_pagination_rel_links(books) }}
    {{ encore_entry_script_tags('table-pagination') }}
{% endblock %}
